@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', system-ui, sans-serif;
}

body {
  @apply bg-white text-secondary;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

